@import url('./shadcn.scss');
@import url('./tailwind.scss');
@import url('./loading.scss');
:root {
  --purple-primary: #727cf5;
  --purple-primary-active: #575dcf;
  --purple-primary-hover: #a1acff;
}
/* 滚动条整体部分 */
::-webkit-scrollbar {
  width: 8px; /* 垂直滚动条的宽度 */
  height: px; /* 水平滚动条的高度 */
}

/* 滚动条的滑块部分 */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* 滑块的颜色 */
  border-radius: 6px; /* 滑块的圆角 */
}

/* 滚动条的轨道部分 */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 轨道的颜色 */
  border-radius: 6px; /* 轨道的圆角 */
}

/* 滚动条的上下箭头按钮 */
::-webkit-scrollbar-button {
  display: none; /* 隐藏箭头按钮 */
}

/* 滚动条的轨道的两端按钮 */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* 角落的颜色 */
}